<div class="wrapper">
    <div class="background">
    </div>

    <div class="column-one">
        <p>reach me via email :
        </p>
        <a class="email-a" href="mailto:sachin188y@gmail.com">
            <p class="email">sachin188y&#64;gmail.com</p>
        </a>
        <br>
        <p>also available here :</p>
        <div class="hero">
            <ul class="social-links">
                <li><a href="https://github.com/18lucifer" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/sachin-yadav/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="https://www.instagram.com/sachinyadav9541?igsh=ZmRiNGZkaGV1dnh6" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="{{facebookurl}}" target="_blank"><i class="fab fa-facebook"></i></a></li>
                <!-- <li><a href="https://twitter.com/vikiwarrior" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://youtu.be/dQw4w9WgXcQ?t=43" target="_blank"><i class="fab fa-youtube"></i></a></li> -->
            </ul>
        </div>
        <div>
        </div>
    </div>
</div>